<!DOCTYPE html><!-- 01011001011011110111010100100000011000100110010101110100001000000100100100100000011101110110111101110101011011000110010000100001 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb">
  <head>
    <title>Potato Chips</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}css/chips.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="header">
      <h1><a href="{{ dash_url }}">potato chips</a></h1>

      <div class="user">
      {% if subdomain %}
        <a href="{{ dash_url }}">dash</a>
      {% else %}
      {% if user %}
        {% if user_blog %}
          <a href="{{user_blog.absolute_url}}">my blog</a> |
        {% endif %}

        {{user.nickname}} | <a href="{{logout_url}}">logout</a>
      {% else %}
        <a href="{{login_url}}">login</a>
      {% endif %}
      {% endif %}
      </div>
    </div>

    <div class="content-wrap">
      <div class="content">
      
      {% block content %}
      {% endblock %}
      </div>
    </div>

    <div class="footer">
      <div class="footer-wrap">
        <p>latest blogs: {% for blog in latest_blogs %}
            <a title="{{ blog.key.name }}" href="{{ blog.absolute_url }}"><img src="http://www.gravatar.com/avatar/{{blog.emailhash}}?s=20"/></a>
        {% endfor %}</p>
        <p>An example microblogging app. <a href="http://github...">source</a></p>
      </div>
    </div>
  </body>
</html>

