{% extends "base.html" %}


{% block content %}
{% block blog_head %}
<div class="post">
	<form method="post">
	<div class="text">
		{{ form.text.errors }}
		{{ form.text }}
	</div>
	<div class="tools">
		<span class="author">
		<img src="http://www.gravatar.com/avatar/{{blog.emailhash}}?s=19f"/>
		{{blog.key.name}}
		</span>
		<input class="date" type="submit" value="Post"/>
	</div>
	{% csrf_token %}
</form>
</div>
{% endblock %}

{% block posts %}
{% for post in posts %}
	<div class="post">
		<div class="text">{{post.rendered_text|safe}}</div>
		<div class="tools">
			<span class="author">
				<a href="{{post.author.absolute_url}}"><img src="http://www.gravatar.com/avatar/{{post.author.emailhash}}?s=20"/></a>
				{{post.author.key.name}}
			</span>
			<span class="date">{{post.created|date:"M d, H:i"|lower}}</span>
		</div>
	</div>
{% endfor %}
{% endblock %}
{% endblock %}