{% extends "base.html" %}


{% block content %}
<div class="post">
	<form method="post">
	<div class="text">
		{% if is_following %}
		You are already following <strong>{{ follow_blog.key.name }}</strong>.
		{% else %}
		You can follow <strong>{{ follow_blog.key.name }}</strong> to see all new updates on your dash.
		{% endif %}
	</div>
	<div class="tools">
		<input class="date" type="submit" value="{% if is_following %}Unfollow{% else %}Follow{% endif %}"/>
	</div>
	{% csrf_token %}
	</form>
</div>
{% endblock %}