.footer, .header, .content-wrap {
	clear:both;
}
html, body {
	background:#00afad;
	height:100%;
	font-size: 0.9em;
	font-family: Verdana, sans-serif;
}
.header {
	background: #d99b22;
	padding: 5px;
	border-bottom: 1px solid #333;
	position: relative;
}

.user {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.footer {
	background: url(../img/footer.jpg) top repeat-x;
	border-top: 1px solid #999;
	text-align: center;
	font-size: 0.9em;
}
.footer-wrap {
	height:100px;
	background: url(../img/fries.jpg) bottom center no-repeat;
}
.footer-wrap p {
	padding: 30px;
}

.content-wrap {
	border-top: 2px solid #666;
	background: #ffe89e;
	padding:30px;
}

.content {
	width: 500px;
	margin:auto;
}

h1 a {
	background: url(../img/smalllogo.png) left no-repeat;
	color: #00afad;
	text-shadow: #000 0.01em 0.01em 0.3em;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	font-family: Georgia, serif;
	padding-left: 34px;
}

#logo {
	margin: 100px auto 20px auto;
	text-align: center;
	display: block;
	height: 100px;
}

.quotes {
	text-align: center;
	line-height: 2.1em;
	padding-bottom: 30px;
}
.post {
	margin-bottom: 20px;

}

.post .text {
	background: #D99B22;
	width: 100%;
	border-radius: 6px;
	padding: 6px;
	display:block;
}

.post .text textarea {
	padding: 6px;
	border-radius: 4px;
	width: 486px;
	height:60px;
    border: 1px solid #666;
}
.post input.date {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
    border-radius: 3px;
    border: 1px solid #666;
    padding: 2px;
    color: #333;
}

.post .tools {
	font-weight: bold;
	font-family: Georgia, serif;
	font-size: 16px;
	margin: 3px 6px 0 6px;
	width: 500px;

}
.author {
	color: #333;
}
.date {
	color: #999;	
	float: right;
}

.post .tools:before {
/*	content: ",";
	display: block;
	float:right;
	line-height: 50px;
	font-size:150px;
	font-family: serif;
	overflow:hidden;
	*/
}
.post .tools .author img {
	vertical-align: text-top;
	border-radius: 3px;

}